# Web Server
flask
gunicorn

# Core AI & Logic
langchain>=0.1.0
langchain-community>=0.0.20
langchain-pinecone>=0.1.0
langchain-openai
langchain-experimental

# Vector DB & Embeddings
pinecone[grpc]
sentence-transformers==2.2.2

# Utilities
pypdf
python-dotenv